<div class="col-sm-3 sidenav">
  <h4>Giphy Search</h4>
  <%= link_to "back", search_terms_path, { class: 'btn btn-primary' } %>
  <ul class="nav nav-pills flex-column">
    <% @search.search_term.searches.order('created_at DESC').each do |search| %>
      <li>
        <%= search.created_at.strftime('%m/%d/%y at %I:%M %p') %>
      </li>
    <% end %>
  </ul><br>
</div>

<div class="col-sm-9">
  <h4><small>Search Gifs</small></h4>
  <%= render partial: 'searches/form' %>
  <ul>
    <% @gifs.each_slice(2) do |batch| %>
      <div class='row'>
        <% batch.each do |gif| %>
          <%= render partial: 'gif', locals: { gif: gif } %>
        <% end %>
      </div>
    <% end %>
  <ul>
</div>
